body{
    background-color: #000080;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card_registro {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    background-color: aliceblue;
}
   
.card p {
    color: #a3a5ae;
    font-size: 16px;
    align-items: center;
}
   
.image {
    float: center;
    max-width: 200px;
    max-height: 200px;
    margin-left: 100px;
}
.botao{
    background-color: #800055;
    color: white;
    align-items: center;
    margin-left: 155px;
}